################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend/ProjetoPrototipagem/.vs
/backend/ProjetoPrototipagem/bin/Debug
/backend/ProjetoPrototipagem/obj
/backend/ProjetoPrototipagem/ProjetoPrototipagem/bin/Debug/net6.0
/backend/ProjetoPrototipagem/ProjetoPrototipagem/obj
